@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  font-family: "Darker Grotesque", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
